schemas_copy_2.py
schemas_copy.py
__pycache__/
venv/
mireadme.txt
sqlalch_update.py
.DS_Store
schemas_old.py
migration_script.py
test_analytics_crud.py
temp_data
database/db_models_old.py
rtr_crawler_Alchemy_old.db
migration2_script.py
rtr_crawler_Alchemy_test.db
.vscode
rtr_crawler_Alchemy copy.db
migrate_add_status.py